<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Gerenciador de {{ title }}!
  </h1>
 <!-- <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> -->
</div>
<h2>Notícias recentes: </h2>
<p>Clique no título da notícia para expandir</p>

<div>
  <ul>
    <li *ngFor= "let noticia of noticias">
      <p (click)="mostrar(noticia)"> {{noticia.titulo}}</p>
      <p *ngIf = "noticia.visivel">
        {{ noticia.conteudo}}
        <br> +++++++++++++++++
        <br>
        <button (click)=" fechar(noticia)">Fechar</button>

      </p>
    </li>
  </ul>
</div>

<h2>Cadastrar Notícia</h2>
<form #cadastro ="ngForm" (submit)="salvar()">
  <div>
    <label for = "titulo" > Título </label>
    <input type = "text" id = "titulo" name= "titulo" [(ngModel)] = "titulo" required>
  </div>
  <div>
    <label for = "conteudo"> Conteudo</label>
    <textarea id="conteudo" name = "conteudo" cols = "80" rows ='5' [(ngModel)]='conteudo' required></textarea>
    </div>
    <div>
      <button type="submit" [disabled]="!cadastro.form.valid">Salvar</button>
      <button type="reset" formnovalidate> Limpar</button>
    </div>
</form> 


